:root {
  --neutrals-greyDisabled: #cad0dd;
  --neutrals-grey: #9e9fbf;
  --neutrals-greyTableBorder: #dce2f2;
  --neutrals-greyBg: #f8f9fb;
  --neutrals-black: #2c2c2c;
  --neutrals-white: #ffffff;
  --neutrals-hawkes-blue: #d5ddea;
  --neutrals-alice-blue: #fdfeff;
  --neutrals-solitude: #ecf0f5;

  --var-editor-button-bg: #047d86;
  --var-editor-button-text: #ffffff;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ProseMirror for Tiptap (Rich Text Editor) */
